html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

ul, ol {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.sub-title {
	font-size: 1.8rem;
}

.my-btn {
	background: transparent;
	border-radius: 6969px;
	border: 2px solid #ffddfc;
	color: white;
	outline: 0;
	width: 10rem;
	text-align: center;
}

#hero-part {
	background: url(../images/bg-1.png) no-repeat top center;
}

#hero-part .content {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	flex-direction: column;
}

#hero-part .content .title{
	font-size: 4.5rem;
	width: 50vw;
	text-align: center;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#header nav {
	padding: 2.5rem 6rem;
	display: flex;
	font-size: 1.8rem;
}

#header nav .logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: auto;
	color: white;
	font-size: 2.5rem;
}

#header nav .main-menu {
	display: flex;
	align-items: center;
}

#header nav .main-menu li {
	list-style: none;
}

#header nav .main-menu li a {
	display: block;
	margin-right: 2.5rem;
	color: #ffddfc;
	text-decoration: none;
}